<div id='views'>Display: <i class="fas fa-stream"></i> <i class="fas fa-th-large"></i> <i class="fas fa-th"></i></div>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
  <a href='/post/{{id}}'><img src="https://picsum.photos/id/{{id}}/500/200" alt=""></a>
  <div>
    {{> post-info post }}
  </div>
  </li>
  {{/each}}
</ol>