* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: hsl(0, 0%, 90%);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: hsl(210, 100%, 40%);
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  list-style: none;
}
.oneRow {
  grid-template-columns: repeat(1, 100%) !important;
}
.twoRow {
  grid-template-columns: repeat(2, 50%) !important;
}
.threeRow {
  grid-template-columns: repeat(3, 33%) !important;
}
.post-list > li {
  margin: 1rem;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
  resize: none;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > * {
  background-color: hsl(170, 50%, 80%);
  padding: 1rem 0.7rem;
}

header h1 {
  font-size: 2em;
}

header > nav {
  height: auto;
  padding: 1.5rem 1rem;
  font-size: 1.3em;
  margin: 0;
}

main {
  padding: 2rem 2rem;
}

#views {
  font-size: 1.5em;
  padding: 0.5rem;
  padding-right: 2rem;
  text-align: right;
}
#views > * {
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}
#views > i:hover {
  color: #3486eb;
  cursor: pointer;
  transform: scale(1.5);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: hsl(0, 50%, 50%);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
}

.btn-no-style:hover {
  background: none;
  color: hsl(0, 100%, 60%);
}

.forms {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(2, 50%);
}
.forms input,
.forms button {
  padding: 0.5rem;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post-list > li {
  border-radius: 15px;
  background-color: hsl(213, 65%, 70%);
}

.post-list p,
.post-list .meta {
  padding: 0.5rem;
}
section > h2 {
  margin: 0.5rem;
}
section:nth-child(2) > h2 {
  text-align: center;
}

.post-list > li:nth-child(even) {
  background-color: hsl(150, 100%, 80%);
}
.post-list .title > a > h2 {
  background-color: hsl(202, 36%, 85%);
  padding: 0.5rem;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

li > a > img {
  border-radius: 15px 15px 0 0;
  max-width: 100%;
}
li {
  display: flex;
  flex-flow: column nowrap;
  transition: 0.4s;
}
li:hover {
  transform: scale(1.1);
}

.post-inputs {
  display: flex;
  max-width: 20rem;
  flex-direction: column;
}
.post-inputs > * {
  margin: 0.2rem;
  padding: 0.5rem;
}
.post-inputs > input[name="content"] {
  resize: none;
  height: auto;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment-form textarea {
  min-width: 40%;
  min-height: 100px;
  padding: 0.5rem;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  min-width: 40%;
  min-height: 25px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

@media screen and (max-width: 600px) {
  header > h1,
  header > nav {
    font-size: 1rem;
    padding: 0.8rem 0.3rem;
  }
  .post-list {
    grid-template-columns: repeat(1, 100%);
  }
}
